@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    margin: 20px;
}

.new-button {
    position: absolute;
    right: 10px;
    padding: 4px 12px !important;
}

#meetingNoteModal {
    display: none;
}

#meetingNoteModal.active {
    display: block;
}

#feedbackModal {
    display: none;
}

#feedbackModal.active {
    display: block;
}